<div class="container">

  <div class="display-4 text-center">Cadastro de Figurinhas</div>

  <form [formGroup]="formGroupSticker">

   <div class="mb-3">
      <label for="inputName" class="form-label">Nome</label>
      <input type="text" class="form-control" id="inputName">
    </div>

    <div class="mb-3">
      <label for="inputTeam" class="form-label">Time</label>
      <input type="text" class="form-control" id="inputTeam">
    </div>

    <div class="mb-3">
      <label for="inputType" class="form-label">Tipo</label>
      <input type="text" class="form-control" id="inputType">
    </div>

    <div class="mb-3">
      <label for="inputNumber" class="form-label">Numero</label>
      <input type="text" class="form-control" id="inputName">
    </div>

    <div class="mb-3">
      <label for="inputDoubles" class="form-label">Repetidas</label>
      <input type="text" class="form-control" id="inputDoubles">
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>


total de figurinhas: {{stickers.length}}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Time</th>
      <th scope="col">Tipo</th>
      <th scope="col">Numero</th>
      <th scope="col">Repetidas</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of stickers">
      <td>{{s.name}}</td>
      <td>{{s.team}}</td>
      <td>{{s.type}}</td>
      <td>{{s.number}}</td>
      <td>{{s.doubles}}</td>
    </tr>
   </tbody>
</table>

</form>
</div>
